@import '../config';
@import '../functions';
@import '../mixins';

.ace-c-brick {
    display: inline-block;
    border: 1px solid map-get($color-palette, ace-red-800);
    background-color: map-get($color-palette, ace-red-300);
    padding: map-get($spacing, spacing-xs);
}
