@import '../config';
@import '../functions';
@import '../mixins';

$checkbox-config: (
    // dimensions
    checkbox-label-spacing: map-get($spacing, spacing-s),
    // typography
    checkbox-typography: 'body',
    checkbox-typography-hover: 'body',
    checkbox-typography-active: 'body',
    checkbox-typography-selected: 'body',
    checkbox-typography-disabled: 'body',
    checkbox-typography-selected-hover: 'body',
    checkbox-typography-selected-disabled: 'body',
    checkbox-label-color: map-get($typography, text-color),
    checkbox-label-color-hover: map-get($typography, text-color),
    checkbox-label-color-active: map-get($typography, text-color),
    checkbox-label-color-selected: map-get($typography, text-color),
    checkbox-label-color-disabled: map-get($typography, text-color-disabled),
    checkbox-label-color-selected-hover: map-get($typography, text-color),
    checkbox-label-color-selected-disabled: map-get($typography, text-color-disabled),
    checkbox-checkmark-selected: map-get($base-colors, white),
    checkbox-checkmark-selected-hover: map-get($base-colors, white),
    checkbox-checkmark-selected-disabled: map-get($base-colors, white),
    // borders
    checkbox-border-radius: map-get($border-radius, radius-4),
    checkbox-border: 2px solid map-get($base-colors, secondary-light-b),
    checkbox-border-hover: 2px solid map-get($base-colors, primary),
    checkbox-border-active: 2px solid map-get($base-colors, primary),
    checkbox-border-selected: 2px solid map-get($base-colors, primary),
    checkbox-border-disabled: 2px solid map-get($base-colors, disabled-main),
    checkbox-border-selected-hover: 2px solid map-get($base-colors, primary),
    checkbox-border-selected-disabled: 2px solid map-get($base-colors, disabled-main),
    checkbox-shadow-active: map-get($shadows, control-active),
    // backgrounds
    checkbox-background: map-get($base-colors, background-main),
    checkbox-background-hover: map-get($base-colors, background-main),
    checkbox-background-active: map-get($base-colors, background-main),
    checkbox-background-selected: map-get($base-colors, primary),
    checkbox-background-disabled: map-get($base-colors, disabled-light),
    checkbox-background-selected-hover: map-get($base-colors, primary),
    checkbox-background-selected-disabled: map-get($base-colors, disabled-main),
);

.ace-c-checkbox {
    @include typography($typography-styles, map-get($checkbox-config, checkbox-typography));

    position: relative;
    display: inline-flex;
    align-items: center;
    color: map-get($checkbox-config, checkbox-label-color);
    cursor: pointer;
    user-select: none;

    &--is-disabled {
        @include typography($typography-styles, map-get($checkbox-config, checkbox-typography-disabled));

        color: map-get($checkbox-config, checkbox-label-color-disabled);
        cursor: default;
    }

    &--is-selected {
        @include typography($typography-styles, map-get($checkbox-config, checkbox-typography-selected));

        color: map-get($checkbox-config, checkbox-label-color-selected);
    }

    &--is-disabled#{&}--is-selected {
        @include typography($typography-styles, map-get($checkbox-config, checkbox-typography-selected-disabled));

        color: map-get($checkbox-config, checkbox-label-color-selected-disabled);
    }

    &:hover:not(.ace-c-checkbox--is-disabled) {
        @include typography($typography-styles, map-get($checkbox-config, checkbox-typography-hover));

        color: map-get($checkbox-config, checkbox-label-color-hover);
    }

    &:hover:not(.ace-c-checkbox--is-disabled).ace-c-checkbox--is-selected {
        @include typography($typography-styles, map-get($checkbox-config, checkbox-typography-selected-hover));

        color: map-get($checkbox-config, checkbox-label-color-selected-hover);
    }

    // Must follow LVHA-order: https://developer.mozilla.org/en-US/docs/Web/CSS/:active
    // stylelint-disable-next-line no-descending-specificity
    &:active:not(.ace-c-checkbox--is-disabled) {
        @include typography($typography-styles, map-get($checkbox-config, checkbox-typography-active));

        color: map-get($checkbox-config, checkbox-label-color-active);
    }
}

.ace-c-checkbox__native-input {
    opacity: 0;
    position: absolute;
    left: -999px;
}

.ace-c-checkbox__input {
    position: relative;
    margin-right: map-get($checkbox-config, checkbox-label-spacing);
    min-width: 24px;
    width: 24px;
    height: 24px;
    border-radius: map-get($checkbox-config, checkbox-border-radius);
    border: map-get($checkbox-config, checkbox-border);
    background-color: map-get($checkbox-config, checkbox-background);
    background-repeat: no-repeat;
    background-position: center center;
    pointer-events: none;

    .ace-c-checkbox--no-chrome & {
        display: none;
    }

    .ace-c-checkbox--is-disabled & {
        border: map-get($checkbox-config, checkbox-border-disabled);
        background-color: map-get($checkbox-config, checkbox-background-disabled);
    }

    .ace-c-checkbox--is-selected & {
        border: map-get($checkbox-config, checkbox-border-selected);
        background-color: map-get($checkbox-config, checkbox-background-selected);
        background-image: url('../assets/icons/checkmark.svg?fill=#{map-get($checkbox-config, checkbox-checkmark-selected)}');
    }

    .ace-c-checkbox--is-selected.ace-c-checkbox--is-indeterminate & {
        background-image: url('../assets/icons/checkmark-dash.svg?fill=#{map-get($checkbox-config, checkbox-checkmark-selected)}');
    }

    .ace-c-checkbox--is-disabled.ace-c-checkbox--is-selected & {
        border: map-get($checkbox-config, checkbox-border-selected-disabled);
        background-color: map-get($checkbox-config, checkbox-background-selected-disabled);
        background-image: url('../assets/icons/checkmark.svg?fill=#{map-get($checkbox-config, checkbox-checkmark-selected-disabled)}');
    }

    .ace-c-checkbox--is-disabled.ace-c-checkbox--is-selected.ace-c-checkbox--is-indeterminate & {
        background-image: url('../assets/icons/checkmark-dash.svg?fill=#{map-get($checkbox-config, checkbox-checkmark-selected-disabled)}');
    }

    .ace-c-checkbox:hover:not(.ace-c-checkbox--is-disabled) & {
        border: map-get($checkbox-config, checkbox-border-hover);
        background-color: map-get($checkbox-config, checkbox-background-hover);
    }

    .ace-c-checkbox:hover:not(.ace-c-checkbox--is-disabled).ace-c-checkbox--is-selected & {
        border: map-get($checkbox-config, checkbox-border-selected-hover);
        background-color: map-get($checkbox-config, checkbox-background-selected-hover);
        background-image: url('../assets/icons/checkmark.svg?fill=#{map-get($checkbox-config, checkbox-checkmark-selected-hover)}');
    }

    /* stylelint-disable-next-line max-line-length */
    .ace-c-checkbox:hover:not(.ace-c-checkbox--is-disabled).ace-c-checkbox--is-selected.ace-c-checkbox--is-indeterminate & {
        background-image: url('../assets/icons/checkmark-dash.svg?fill=#{map-get($checkbox-config, checkbox-checkmark-selected-hover)}');
    }

    // Must follow LVHA-order: https://developer.mozilla.org/en-US/docs/Web/CSS/:active
    // stylelint-disable-next-line no-descending-specificity
    .ace-c-checkbox:active:not(.ace-c-checkbox--is-disabled) & {
        border: map-get($checkbox-config, checkbox-border-active);
        background-color: map-get($checkbox-config, checkbox-background-active);
        box-shadow: map-get($checkbox-config, checkbox-shadow-active);
    }
}
