@import '../config';
@import '../functions';
@import '../mixins';
@import './Checkbox.module';

$toggle-switch-config: (
    // dimensions
    toggle-switch-label-spacing: map-get($spacing, spacing-s),
    // borders
    toggle-switch-track-border-radius: map-get($border-radius, radius-16),
    toggle-switch-track-border: 2px solid map-get($base-colors, secondary-light-b),
    toggle-switch-track-border-hover: 2px solid map-get($base-colors, secondary-light-b),
    toggle-switch-track-border-active: 2px solid map-get($base-colors, secondary-light-b),
    toggle-switch-track-border-selected: 2px solid map-get($base-colors, primary),
    toggle-switch-track-border-disabled: 2px solid map-get($base-colors, disabled-main),
    toggle-switch-track-border-selected-hover: 2px solid map-get($base-colors, primary),
    toggle-switch-track-border-selected-disabled: 2px solid map-get($base-colors, disabled-main),
    toggle-switch-toggle-shadow-active: map-get($shadows, control-active-m),
    // backgrounds
    toggle-switch-track-background: map-get($base-colors, background-main),
    toggle-switch-track-background-hover: map-get($base-colors, background-main),
    toggle-switch-track-background-active: map-get($base-colors, background-main),
    toggle-switch-track-background-selected: map-get($base-colors, primary),
    toggle-switch-track-background-disabled: map-get($base-colors, background-main),
    toggle-switch-track-background-selected-hover: map-get($base-colors, primary),
    toggle-switch-track-background-selected-disabled: map-get($base-colors, disabled-main),
    toggle-switch-toggle-color: map-get($base-colors, secondary-light-b),
    toggle-switch-toggle-color-hover: map-get($base-colors, secondary-light-b),
    toggle-switch-toggle-color-active: map-get($base-colors, secondary-light-b),
    toggle-switch-toggle-color-selected: map-get($base-colors, white),
    toggle-switch-toggle-color-disabled: map-get($base-colors, disabled-main),
    toggle-switch-toggle-color-selected-hover: map-get($base-colors, white),
    toggle-switch-toggle-color-selected-disabled: map-get($base-colors, white),
);

.ace-c-toggle-switch__track {
    position: relative;
    margin-right: map-get($toggle-switch-config, toggle-switch-label-spacing);
    width: 56px;
    height: 24px;
    border-radius: map-get($toggle-switch-config, toggle-switch-track-border-radius);
    border: map-get($toggle-switch-config, toggle-switch-track-border);
    background-color: map-get($toggle-switch-config, toggle-switch-track-background);
    padding: 0 2px;

    .ace-c-toggle-switch--is-disabled & {
        border: map-get($toggle-switch-config, toggle-switch-track-border-disabled);
        background-color: map-get($toggle-switch-config, toggle-switch-track-background-disabled);
    }

    .ace-c-toggle-switch--is-selected & {
        border: map-get($toggle-switch-config, toggle-switch-track-border-selected);
        background-color: map-get($toggle-switch-config, toggle-switch-track-background-selected);
    }

    .ace-c-toggle-switch--is-disabled.ace-c-toggle-switch--is-selected & {
        border: map-get($toggle-switch-config, toggle-switch-track-border-selected-disabled);
        background-color: map-get($toggle-switch-config, toggle-switch-track-background-selected-disabled);
    }

    .ace-c-toggle-switch:hover:not(.ace-c-toggle-switch--is-disabled) & {
        border: map-get($toggle-switch-config, toggle-switch-track-border-hover);
        background-color: map-get($toggle-switch-config, toggle-switch-track-background-hover);
    }

    .ace-c-toggle-switch:hover:not(.ace-c-toggle-switch--is-disabled).ace-c-toggle-switch--is-selected & {
        border: map-get($toggle-switch-config, toggle-switch-track-border-selected-hover);
        background-color: map-get($toggle-switch-config, toggle-switch-track-background-selected-hover);
    }

    // Must follow LVHA-order: https://developer.mozilla.org/en-US/docs/Web/CSS/:active
    // stylelint-disable-next-line no-descending-specificity
    .ace-c-toggle-switch:active:not(.ace-c-toggle-switch--is-disabled) & {
        border: map-get($toggle-switch-config, toggle-switch-track-border-active);
        background-color: map-get($toggle-switch-config, toggle-switch-track-background-active);
    }
}

.ace-c-toggle-switch__toggle {
    position: absolute;
    left: 0;
    height: 16px;
    width: 16px;
    margin: 2px;
    background-color: map-get($toggle-switch-config, toggle-switch-toggle-color);
    border-radius: 50%;
    transition: 0.4s;

    .ace-c-toggle-switch--is-disabled & {
        background-color: map-get($toggle-switch-config, toggle-switch-toggle-color-disabled);
    }

    .ace-c-toggle-switch--is-selected & {
        left: unset;
        right: 0;
        background-color: map-get($toggle-switch-config, toggle-switch-toggle-color-selected);
    }

    .ace-c-toggle-switch--is-disabled.ace-c-toggle-switch--is-selected & {
        background-color: map-get($toggle-switch-config, toggle-switch-toggle-color-selected-disabled);
    }

    .ace-c-toggle-switch:hover:not(.ace-c-toggle-switch--is-disabled) & {
        background-color: map-get($toggle-switch-config, toggle-switch-toggle-color-hover);
    }

    .ace-c-toggle-switch:hover:not(.ace-c-toggle-switch--is-disabled).ace-c-toggle-switch--is-selected & {
        background-color: map-get($toggle-switch-config, toggle-switch-toggle-color-selected-hover);
    }

    // Must follow LVHA-order: https://developer.mozilla.org/en-US/docs/Web/CSS/:active
    // stylelint-disable-next-line no-descending-specificity
    .ace-c-toggle-switch:active:not(.ace-c-toggle-switch--is-disabled) & {
        background-color: map-get($toggle-switch-config, toggle-switch-toggle-color-active);
        box-shadow: map-get($toggle-switch-config, toggle-switch-toggle-shadow-active);
    }
}
