{
    "parser": "babel-eslint",
    "plugins": [
      "react",
      "import"
    ],
    "env": {
      "browser": true,
      "node": true
    },
    "globals": {
      "google": true
    },
    "rules": {
      "arrow-parens": [2, "always"],
      "arrow-body-style": [2, "always"],
      "class-methods-use-this": 0,
      "comma-dangle": [1, "always-multiline"],
      "eol-last": 0,
      "global-require": 0,
      "import/no-mutable-exports": 0,
      "import/prefer-default-export": 0,
      "linebreak-style": 0,
      "no-console": 0,
      "no-underscore-dangle": 0,
      "no-unused-vars": [1, {"vars": "local", "args": "after-used", "ignoreRestSiblings": false }],
      "react/prop-types": [2, { "ignore": ["children", "location"]}],
      "react/jsx-key": 1,
      "quote-props": [2, "consistent"],
      "one-var": 0,


      
      "object-curly-newline": 0,
      "object-curly-spacing": [1, "never"],
      "indent": [1, 4, {
          "VariableDeclarator": {"var": 1, "let": 1, "const": 1 },
          "MemberExpression": 1,
          "FunctionDeclaration": {"parameters": 1},
          "FunctionExpression": {"parameters": 1},
          "CallExpression": {"arguments": 1},
          "ArrayExpression": 1,
          "ObjectExpression": 1,
          "ImportDeclaration": 1,
          "flatTernaryExpressions": true,
          "ignoredNodes": [ "ConditionalExpression" ]
      }],
      "prefer-destructuring": 1,
      "prefer-const": 1,
      "no-trailing-spaces": 1,
      "max-len": [1, {
          "code": 120,
          "tabWidth": 4,
          "ignoreComments": true,
          "ignoreTrailingComments": true,
          "ignoreUrls": true,
          "ignoreStrings": true,
          "ignoreTemplateLiterals": true,
          "ignoreRegExpLiterals": true
      }],
      "key-spacing": [1, {
        "singleLine": {
            "beforeColon": false,
            "afterColon": true
        },
        "multiLine": {
            "beforeColon": false,
            "afterColon": true
        },
        "align": {
            "beforeColon": false,
            "afterColon": true,
            "on": "value"
        }
      }],
      "padded-blocks": [1, {
          "classes": "always",
          "blocks": "never",
          "switches": "always"
        }
      ]


    },
    "extends": [
      "plugin:react/recommended",
      "airbnb-base"
    ]
  }
