// Responsive
// quick start: https://include-media.com/
// documentation: https://include-media.com/documentation
@import '~include-media/dist/include-media';

$breakpoints: (
    small: 960px,
    large: 1280px,
    x-large: 1480px, // 1920px,
);

$media-expressions: (
    screen: 'screen',
    print: 'print',
    handheld: 'handheld',
    landscape: '(orientation: landscape)',
    portrait: '(orientation: portrait)',
    retina2x: '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)',
    retina3x: '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi)',
    touch-device: '(pointer: coarse), (hover: none)',
);

$color-palette: (
    ace-red-900: #b93422,
    ace-red-800: #c83e2e,
    ace-red-700: #d54435,
    ace-red-600: #e74d3b,
    ace-red-500: #f5553b,
    ace-red-400: #f16255,
    ace-red-300: #e77d78,
    ace-red-200: #f0a19d,
    ace-red-100: #ffd1d4,
    ace-red-50: #ffedef,
    ace-grey-900: #181616,
    ace-grey-800: #383636,
    ace-grey-700: #565454,
    ace-grey-600: #696767,
    ace-grey-500: #918f8f,
    ace-grey-400: #bebebf,
    ace-grey-300: #e1e1e2,
    ace-grey-200: #efeff0,
    ace-grey-100: #f5f5f6,
    ace-grey-50: #fafafb,
    ace-yellow-900: #d24e0f,
    ace-yellow-800: #db6714,
    ace-yellow-700: #e27618,
    ace-yellow-600: #e8851b,
    ace-yellow-500: #ec901d,
    ace-yellow-400: #eea035,
    ace-yellow-300: #f1b055,
    ace-yellow-200: #f5c784,
    ace-yellow-100: #f9ddb4,
    ace-yellow-50: #fcf2e1,
    ace-blue-900: #3b469c,
    ace-blue-800: #4565bc,
    ace-blue-700: #4a76cf,
    ace-blue-600: #5188e2,
    ace-blue-500: #5596f1,
    ace-blue-400: #63a5f4,
    ace-blue-300: #79b5f6,
    ace-blue-200: #9ccafa,
    ace-blue-100: #c1defc,
    ace-blue-50: #e5f2fd,
    ace-green-900: #006100,
    ace-green-800: #007f00,
    ace-green-700: #1b9000,
    ace-green-600: #2da200,
    ace-green-500: #38b100,
    ace-green-400: #5abd3d,
    ace-green-300: #7ac963,
    ace-green-200: #99d897,
    ace-green-100: #c7e7bc,
    ace-green-50: #e7f5e4,
    ace-lime-900: #94860a,
    ace-lime-800: #afad19,
    ace-lime-700: #c0c522,
    ace-lime-600: #d2db2c,
    ace-lime-500: #deed31,
    ace-lime-400: #e4f155,
    ace-lime-300: #eaf576,
    ace-lime-200: #f0f89d,
    ace-lime-100: #f6fac4,
    ace-lime-50: #fcfde8,
    ace-dark-blue-100: #1e369e,
    ace-dark-blue-15: #dde1f1,
    ace-dark-blue-5: #f4f5fa,
    ace-black: #000,
    ace-white: #fff,
    ace-red: #f00,
    ace-green: #5db653,
);

$base-colors: (
    primary: map-get($color-palette, ace-yellow-300),
    primary-dark-a: map-get($color-palette, ace-yellow-400),
    primary-dark-b: map-get($color-palette, ace-yellow-500),
    primary-light-a: map-get($color-palette, ace-yellow-200),
    primary-light-b: map-get($color-palette, ace-yellow-100),
    primary-light-c: map-get($color-palette, ace-yellow-50),
    secondary: map-get($color-palette, ace-grey-700),
    secondary-dark: map-get($color-palette, ace-grey-800),
    secondary-light-a: map-get($color-palette, ace-grey-600),
    secondary-light-b: map-get($color-palette, ace-grey-500),
    secondary-light-c: map-get($color-palette, ace-grey-400),
    secondary-light-d: map-get($color-palette, ace-grey-300),
    warning: map-get($color-palette, ace-red-500),
    negative: map-get($color-palette, ace-red-500),
    negative-light: map-get($color-palette, ace-red-50),
    positive: map-get($color-palette, ace-green-500),
    positive-dark: map-get($color-palette, ace-green-800),
    positive-light: map-get($color-palette, ace-green-50),
    contrast: map-get($color-palette, ace-white),
    white: map-get($color-palette, ace-white),
    disabled-main: map-get($color-palette, ace-grey-400),
    disabled-dark: map-get($color-palette, ace-grey-500),
    disabled-light: map-get($color-palette, ace-grey-200),
    background-main: map-get($color-palette, ace-white),
    background-b: map-get($color-palette, ace-grey-50),
    background-c: map-get($color-palette, ace-grey-100),
    background-modal: rgba(map-get($color-palette, ace-white), 0.2),
    divider: map-get($color-palette, ace-grey-300),
    transparent: transparent,
);

$typography: (
    font-family: 'Open Sans',
    font-style: normal,
    font-weight: normal,
    font-size: 16px,
    line-height: 148%,
    letter-spacing: 0.01em,
    // font-sizes
    font-size-xxl: 64px,
    font-size-xl: 40px,
    font-size-l: 24px,
    font-size-m: 16px,
    font-size-s: 14px,
    font-size-xs: 12px,
    // text colors
    text-color: map-get($base-colors, secondary),
    text-color-disabled: map-get($base-colors, disabled-dark),
    text-color-contrast: map-get($base-colors, contrast),
    text-color-warning: map-get($base-colors, negative),
    text-color-success: map-get($base-colors, positive-dark),
    text-color-highlighted: map-get($base-colors, primary-dark-a),
    text-color-higlighted-hover: map-get($base-colors, primary-light-a),
    text-color-higlighted-active: map-get($base-colors, primary-dark-b),
    text-color-medium-emphasis: map-get($base-colors, secondary-light-b),
    // icon colors
    icon-color: map-get($base-colors, secondary-light-b),
    icon-color-disabled: map-get($base-colors, disabled-dark),
    icon-color-warning: map-get($base-colors, warning),
);

$typography-styles: (
    h1: (
        font-family: map-get($typography, font-family),
        font-style: normal,
        font-weight: bold,
        font-size: map-get($typography, font-size-xxl),
        line-height: 112%,
        font-feature-settings: 'liga' off,
        color: map-get($typography, text-color),
    ),
    h2: (
        font-family: map-get($typography, font-family),
        font-style: normal,
        font-weight: bold,
        font-size: map-get($typography, font-size-xl),
        line-height: 120%,
        color: map-get($typography, text-color),
    ),
    h3: (
        font-family: map-get($typography, font-family),
        font-style: normal,
        font-weight: bold,
        font-size: map-get($typography, font-size-xl),
        line-height: 136%,
        color: map-get($typography, text-color),
    ),
    subtitle: (
        font-family: map-get($typography, font-family),
        font-style: normal,
        font-weight: normal,
        font-size: map-get($typography, font-size-xl),
        line-height: 136%,
        color: map-get($typography, text-color),
    ),
    body: (
        font-family: map-get($typography, font-family),
        font-style: normal,
        font-weight: normal,
        font-size: map-get($typography, font-size-m),
        line-height: 148%,
        letter-spacing: 0.01em,
        color: map-get($typography, text-color),
    ),
    body-medium: (
        font-family: map-get($typography, font-family),
        font-style: normal,
        font-weight: 600,
        font-size: map-get($typography, font-size-m),
        line-height: 148%,
        letter-spacing: 0.01em,
        color: map-get($typography, text-color),
    ),
    body-bold: (
        font-family: map-get($typography, font-family),
        font-style: normal,
        font-weight: bold,
        font-size: map-get($typography, font-size-m),
        line-height: 148%,
        letter-spacing: 0.04em,
        color: map-get($typography, text-color),
    ),
    caption: (
        font-family: map-get($typography, font-family),
        font-style: normal,
        font-weight: normal,
        font-size: map-get($typography, font-size-xs),
        line-height: 132%,
        color: map-get($typography, text-color),
    ),
    caption-bold: (
        font-family: map-get($typography, font-family),
        font-style: normal,
        font-weight: bold,
        font-size: map-get($typography, font-size-xs),
        line-height: 132%,
        color: map-get($typography, text-color),
    ),
    highlight: (
        font-family: map-get($typography, font-family),
        font-style: normal,
        font-weight: bold,
        font-size: map-get($typography, font-size-s),
        line-height: 168%,
        letter-spacing: 0.1em,
        color: map-get($typography, text-color),
    ),
);

$spacing: (
    spacing-xs: 4px,
    spacing-s: 8px,
    spacing-m: 16px,
    spacing-l: 24px,
    spacing-xl: 32px,
    spacing-2xl: 48px,
    spacing-3xl: 64px,
);

$z-index: (
    dashboard: 1,
    navigation: 100,
    modal: 800,
    drop-down: 1000,
    tooltip: 1100,
);

$shadows: (
    shadow-1: 1px 1px 4px rgba(map-get($color-palette, ace-black), 0.25),
    shadow-2: 1px 2px 4px 2px rgba(map-get($color-palette, ace-black), 0.25),
    shadow-3: 1px 4px 7px rgba(map-get($color-palette, ace-black), 0.35),
    shadow-4: 0 0 0 4px map-get($color-palette, ace-yellow-100),
    card: 1px 1px 23px 8px rgba(map-get($color-palette, ace-black), 0.1),
    control-active: 0 0 0 8px rgba(map-get($color-palette, ace-red-700), 0.1), // TODO some other approach?
    control-active-m: 0 0 0 12px rgba(map-get($color-palette, ace-red-700), 0.1), // TODO some other approach?
);

// TODO key names should be unrelated to values
$border-radius: (
    radius-4: 4px,
    radius-8: 8px,
    radius-16: 16px,
    radius-24: 24px,
    radius-40: 40px,
);
