/* Responsive media support */
// quick start: https://include-media.com/
// documentation: https://include-media.com/documentation
@import '~include-media/dist/include-media';

$breakpoints: (
    xsmall: 320px,
    small: 480px,
    medium: 768px,
    large: 1024px,
    xlarge: 1920px
);

$media-expressions: (
    screen: 'screen',
    print: 'print',
    handheld: 'handheld',
    landscape: '(orientation: landscape)',
    portrait: '(orientation: portrait)',
    retina2x: '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)',
    retina3x: '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi)'
);
