/* Original UI Component */
.vub-c-original-ui-component {
    $color: red;

    margin: 10px 0;

    &--modifier-1 {
        border: 1px solid $color;
    }
}

.vub-c-original-ui-component__element-1 {
    background-color: blue;
    height: 25px;
}

.vub-c-original-ui-component__element-2 {
    background-color: green;
    height: 25px;
    font-size: 15px;
}
